In [58]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [59]:
# Set the executable path and initialize Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [/Users/sumedtamang/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

### Visit the NASA Mars News Site

In [3]:
# # Visit the mars nasa news site
# url = 'https://redplanetscience.com/'
# browser.visit(url)

# # Optional delay for loading the page
# browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
# # Convert the browser html to a soup object and then quit the browser
# html = browser.html
# news_soup = soup(html, 'html.parser')

# slide_elem = news_soup.select_one('div.list_text')

In [5]:
# slide_elem.find('div', class_='content_title')

In [6]:
# # Use the parent element to find the first a tag and save it as `news_title`
# news_title = slide_elem.find('div', class_='content_title').get_text()
# news_title

"NASA's Mars 2020 Heads Into the Test Chamber"

In [7]:
# # Use the parent element to find the paragraph text
# news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
# news_p

'In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.'

### JPL Space Images Featured Image

In [8]:
# # Visit URL
# url = 'https://spaceimages-mars.com'
# browser.visit(url)

In [9]:
# # Find and click the full image button
# full_image_elem = browser.find_by_tag('button')[1]
# full_image_elem.click()

In [1]:
# Parse the resulting html with soup
# html = browser.html
# img_soup = soup(html, 'html.parser')
# img_soup

In [11]:
# # find the relative image url
# img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
# img_url_rel

'image/featured/mars3.jpg'

In [12]:
# # Use the base url to create an absolute url
# img_url = f'https://spaceimages-mars.com/{img_url_rel}'
# img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

### Mars Facts

In [13]:
# df = pd.read_html('https://galaxyfacts-mars.com')[0]
# df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [14]:
# df.columns=['Description', 'Mars', 'Earth']
# df.set_index('Description', inplace=True)
# df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [15]:
#df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

### Hemispheres

In [60]:
# 1. Use browser to visit the URL 
url = 'https://marshemispheres.com/'

browser.visit(url)

In [67]:
full_image_elem = browser.find_by_tag('h3')[3]
full_image_elem.click()

In [68]:
browser.back()

In [20]:
# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []

# 3. Write code to retrieve the image urls and titles for each hemisphere.
full_image_elem = browser.find_by_tag('h3')[0]
full_image_elem.click()

html = browser.html
img_soup = soup(html, 'html.parser')

In [56]:
img_link = img_soup.find_all('div', class_='downloads')
for i in img_link:

    thread = i.find('li')
    link = thread.a['href']
    img_url = f'https://marshemispheres.com/{link}'
img_url

'https://marshemispheres.com/images/full.jpg'

In [44]:
title = img_soup.find('h2', class_='title').text
title

'Cerberus Hemisphere Enhanced'

In [53]:
a = []
results_1 = {'img_url': img_url, 'title': title}

a.append(results_1)
a

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'}]

In [18]:
# 4. Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [71]:
# 5. Quit the browser
browser.quit()

In [70]:
for i in range(4):
    print('hello')

hello
hello
hello
hello